<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ingenicoBrowser" version="0.0.1">
    <name>IngenicoBrowser</name>

    <description>A Cordova plugin to use Ingenico Payment by Browser.</description>
    <license>MIT</license>

    <keywords>cordova,android,ios,ingenico,payment,inappBrowser</keywords>
    <repo>https://github.com/pmanent/cordova-plugin-ingenicoBrowser.git</repo>
    <issue>https://github.com/pmanent/cordova-plugin-ingenicoBrowser/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/ingenicoBrowser.js" name="ingenicoBrowser">
        <clobbers target="window.plugins.ingenicoBrowser" />
    </js-module>

</plugin>